<div class="page-wrapper">
  <h1 class="page-title">自分の題名</h1>
  <h3 class="page-subtitle">コメント</h3>

  <div class="tweets-container">
    <h3 class="section-title">Tweet一覧</h3>

    <% @tweets.each do |t| %>
      <div class="tweet">
        <div class="main-box">
          <div class="left-container">
            <p><%= t.user.name %>（<%= t.user.email %>）</p>
            <p><%= t.music %></p>
            <p><%= t.detail %></p>
            <p class="time"><%= t.created_at.strftime("%Y/%m/%d %H:%M") %></p>
          </div>

          <div class="right-container">
            <%= link_to "詳細へ", tweet_path(t.id) %>
            <% if user_signed_in? && current_user.id == t.user_id %>
              <%= link_to "編集する", edit_tweet_path(t.id) %>
              <%= link_to "削除する", tweet_path(t.id), method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "マイページへ", user_path(current_user.id), class: "mypage-link" %>
    <% end %>

    <%= link_to "新規投稿へ", new_tweet_path, class: "new-post-link" %>

  </div>
</div>