<div class="tweet-detail-container">
  <h1>コメント詳細</h1>

  <% if @tweet.user.present? %>
    <div class="user-info-box">
      <p><strong>名前:</strong> <%= @tweet.user.name %></p>
      <p><strong>メールアドレス:</strong> <%= @tweet.user.email %></p>
      <p><strong>プロフィール:</strong> <%= @tweet.user.profile %></p>
    </div>

    <div class="tweet-box">
    <div class="tweet-content">
      <p><strong>内容:</strong> <%= @tweet.detail %></p>
    </div>

  </div>
  <% else %>
    <p class="alert">投稿者情報が取得できませんでした</p>
  <% end %>

  </div>

</div>

<div class="back-link-wrapper">
  <%= link_to "コメント一覧に戻る", tweets_path, class: "btn btn-secondary" %>
  </div>